#
# .gitignore for z64rom
#
# this file contains some basic defaults that should make
# it easier for you to migrate your project to github
#
# latest version of this file:
#  - https://github.com/z64utils/z64rom/blob/main/project/.gitignore
#
# and the accompanying guide:
#  - https://github.com/z64utils/z64rom/blob/main/project/github-beginner-guide-for-z64rom-users.txt
#


#
# NOTE:
#   if you have renamed your .vanilla folder to something else like _vanilla,
#   please replace all occurrences of .vanilla in this file with the new name!
#


# automatically installed programs #
####################################
tools/
include/z64hdr/
include/z64hdr.zip
z64rom.exe
z64rom


# compiled binaries #
#####################
*.z64
*.o
*.elf
*.ld
*.dep
!include/*.ld

# prevents conflicts when using different compilers in team settings
rom/lib_code/*
rom/lib_user/*
rom/actor/*
rom/effect/*

# exceptions for zovl's that aren't being recompiled
*.zovl
!rom/actor/.vanilla/
!rom/actor/.vanilla/**
!rom/effect/.vanilla/
!rom/effect/.vanilla/**

# these get built from src
rom/actor/.vanilla/0x002A-Cutscene_Actors/
rom/actor/.vanilla/0x003D-Shopkeeper/
rom/actor/.vanilla/0x004D-Adult_Zelda_Cutscene/
rom/actor/.vanilla/0x0068-Twisted_Hallway/
rom/actor/.vanilla/0x006E-Warp_Pad/
rom/actor/.vanilla/0x0086-Lowering_Circular_Platform/
rom/actor/.vanilla/0x0087-Forest_Temple_Elevator/
rom/actor/.vanilla/0x0088-Forest_Temple_Rotating_Walls/
rom/actor/.vanilla/0x0089-Forest_Temple_Ceiling/
rom/actor/.vanilla/0x00B3-Gate_Guards/
rom/actor/.vanilla/0x00B4-Falling_Rock_Spawner/
rom/actor/.vanilla/0x00CD-Giant_Boulder_Blocking_Dodongos_Cavern/
rom/actor/.vanilla/0x00E2-Ladder_with_Clasp_Unused/
rom/actor/.vanilla/0x00E3-Gates_and_Rotating_Pillars/
rom/actor/.vanilla/0x00E4-Forest_Temple_Well_Water/
rom/actor/.vanilla/0x0117-Silver_Rupee_Large_Rotating_Pot/
rom/actor/.vanilla/0x013C-Cucco_Lady/
rom/actor/.vanilla/0x013D-Medigoron/
rom/actor/.vanilla/0x0162-Running_Man/
rom/actor/.vanilla/0x0163-Kokiri/
rom/actor/.vanilla/0x016C-Graveyard_Boy/
rom/actor/.vanilla/0x016E-Hylians/
rom/actor/.vanilla/0x0171-Title_Screen_rom/actor/
rom/actor/.vanilla/0x0179-Adult_Zelda/
rom/actor/.vanilla/0x0182-Ranch_NPCs_Ending_Cutscene/
rom/actor/.vanilla/0x0189-Uncursed_Skulltula_People/
rom/actor/.vanilla/0x019D-Semi_Built_Shooting_Gallery/
rom/actor/.vanilla/0x01A3-Deku_Panel/
rom/actor/.vanilla/0x01A4-Man_in_Purple_Pants_and_White_Top/
rom/actor/.vanilla/0x01B2-Crumbling_Stone/
rom/actor/.vanilla/0x01C1-Fake_Stomping_Door/
rom/effect/.vanilla/0x0006-Fire_Dodongo/
rom/effect/.vanilla/0x000F-Fragment_1/
rom/effect/.vanilla/0x0010-Broken_Weapon/
rom/effect/.vanilla/0x0013-Magma_2/
rom/effect/.vanilla/0x0016-Shock_Light_Ball/
rom/effect/.vanilla/0x0019-Fragment_2/
rom/effect/.vanilla/0x001E-Score/
rom/effect/.vanilla/0x0024-Ice_Smoke/


# misc data files #
###################
*.stackdump
*.timestamp


# compression cache #
#####################
*.yaz


# ares generated files #
########################
*.pak
*.ram


# misc OS files #
#################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


# vs files & folders #
######################
*.user
/debug
/.vs
/libraries


# vs code files & folders #
###########################
/.vscode

